# Lab Instructions - Week {{ week }}, Lab {{ lab }}

## Task List:

1. Examine the dns records for the domain: {{ domain }} and determine:
    - dns servers for {{ domain }}
    - mail servers for {{ domain }}
    - ip addresse(s) for the name server(s) for {{ domain }}
    - ip addresse(s) for the mail server(s) for {{ domain }}
2. Based on your investigations, what is/are the ip address(s) of the primary email server(s) for {{ domain }} ?
3. Based on your investigations, what is/are the ip address(s) of the secondary email server(s) for {{ domain }} ?

Record your answers in the Labsheet on Brightspace.

Reference:
DNS record types: https://www.site24x7.com/learn/dns-record-types.html

Good luck!
