# Lab Instructions - Week {{ week }}, Lab {{ lab }}

## Task List:

0. Download the required file and setup the environment for the lab:
    mkdir {{ dir }}
    cd {{ dir }}
    wget {{ url }} -O {{ output }}
    python {{ output }}

1. Determine the service(s) running at ip: {{ ip }}
2. Using the pcap file {{ file }} which was captured off the LAN, or otherwise, gain entry to the host at {{ ip }}

Demonstrate part 2 to your instructor.

Good luck!
